In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/data.csv')

In [3]:
df_parts = np.array_split(df, 20)

In [4]:
len(df)

50581

In [5]:
len(df_parts[0])

2530

In [6]:
df.head()

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
0,avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,English,United States of America,237000000.0,760505847.0,2009.0,7.9,NaN,NaN
1,pirates of the caribbean: at world's end,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,English,United States of America,300000000.0,309404152.0,2007.0,7.1,NaN,NaN
2,spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,English,United Kingdom,245000000.0,200074175.0,2015.0,6.8,NaN,NaN
3,the dark knight rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,English,United States of America,250000000.0,448130642.0,2012.0,8.5,NaN,NaN
4,star wars: episode vii - the force awakens ...,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN

In [7]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (1.9.0)
Requirement already satisfied: requests in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from tmdbv3api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (2023.11.17)

In [7]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '07cc151730daa91e60bd8a7ad5ca9986'

In [8]:
from tmdbv3api import Movie
tmdb_movie = Movie()
class Get_data:
    
    def genre(x):
        genres = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['genres']:
            genre_str = " "
            for i in range(0,len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            return np.NaN

    def production_companies(x):
        production_companies = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['production_companies']:
            genre_str = " " 
            for i in range(0,len(data_json['production_companies'])):
                production_companies.append(data_json['production_companies'][i]['name'])
            return genre_str.join(production_companies)
        else:
            return np.NaN

    def country(x):
        production_countries = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['production_countries']:
            genre_str = " " 
            for i in range(0,len(data_json['production_countries'])):
                production_countries.append(data_json['production_countries'][i]['name'])
            return genre_str.join(production_countries)
        else:
            return np.NaN
    
    def language(x):
        spoken_languages = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['spoken_languages']:
            genre_str = " " 
            for i in range(0,len(data_json['spoken_languages'])):
                spoken_languages.append(data_json['spoken_languages'][i]['name'])
            return genre_str.join(spoken_languages)
        else:
            return np.NaN

    def year(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['release_date']:
            return data_json['release_date'].split('-')[0]
        else:
            return np.NaN

    def budget(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['budget']:
            return data_json['budget']
        else:
            return np.NaN

    def revenue(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['revenue']:
            return data_json['revenue']
        else:
            return np.NaN

    def duration(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['runtime']:
            return data_json['runtime']
        else:
            return np.NaN

    def director_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['crew']:
            return data_json['crew'][0]['name']
        else:
            return np.NaN
        
    def actor_1_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['cast']:
            return data_json['cast'][0]['name']
        else:
            return np.NaN

    def actor_2_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['cast'] and len(data_json['cast']) > 2:
            return data_json['cast'][1]['name']
        else:
            return np.NaN

    def actor_3_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['cast'] and len(data_json['cast']) > 3:
            return data_json['cast'][2]['name']
        else:
            return np.NaN

In [9]:
len(df_parts)

20

In [10]:
processed_parts = []

for i in range(len(df_parts)):
    df_parts[i]['genres'] = df_parts[i].apply(lambda row: Get_data.genre(str(row['title'])) if type(row['genres']) != str else row['genres'], axis=1)
    print('----------------------------------------- Processed Genres')
    df_parts[i]['production_companies'] = df_parts[i].apply(lambda row: Get_data.production_companies(str(row['title'])) if type(row['production_companies']) != str else row['production_companies'], axis=1)
    print('----------------------------------------- Precessed Production Companies')
    df_parts[i]['country'] = df_parts[i].apply(lambda row: Get_data.country(str(row['title'])) if type(row['country']) != str else row['country'], axis=1)
    print('----------------------------------------- Processed Country')
    df_parts[i]['language'] = df_parts[i].apply(lambda row: Get_data.language(str(row['title'])) if type(row['language']) != str else row['language'], axis=1)
    print('----------------------------------------- Processed Language')
    df_parts[i]['year'] = df_parts[i].apply(lambda row: Get_data.year(str(row['title'])) if type(row['year']) != str else row['year'], axis=1)
    print('----------------------------------------- Processed Year')
    df_parts[i]['budget'] = df_parts[i].apply(lambda row: Get_data.budget(str(row['title'])) if type(row['budget']) != str else row['budget'], axis=1)
    print('----------------------------------------- Processed Budget')
    df_parts[i]['revenue'] = df_parts[i].apply(lambda row: Get_data.revenue(str(row['title'])) if type(row['revenue']) != str else row['revenue'], axis=1)
    print('----------------------------------------- Processed Revenue')
    df_parts[i]['duration'] = df_parts[i].apply(lambda row: Get_data.duration(str(row['title'])) if type(row['duration']) != str else row['duration'], axis=1)
    print('----------------------------------------- Processed Duration')
    df_parts[i]['director_name'] = df_parts[i].apply(lambda row: Get_data.director_name(str(row['title'])) if type(row['director_name']) != str else row['director_name'], axis=1)
    print('----------------------------------------- Processed Director Name')
    df_parts[i]['actor_1_name'] = df_parts[i].apply(lambda row: Get_data.actor_1_name(str(row['title'])) if type(row['actor_1_name']) != str else row['actor_1_name'], axis=1)
    print('----------------------------------------- Processed Actor 1 Name')
    df_parts[i]['actor_2_name'] = df_parts[i].apply(lambda row: Get_data.actor_2_name(str(row['title'])) if type(row['actor_2_name']) != str else row['actor_2_name'], axis=1)
    print('----------------------------------------- Processed Actor 2 Name')
    df_parts[i]['actor_3_name'] = df_parts[i].apply(lambda row: Get_data.actor_3_name(str(row['title'])) if type(row['actor_3_name']) != str else row['actor_3_name'], axis=1)
    print('----------------------------------------- Processed Actor 3 Name')
    
    processed_parts.append(df_parts[i])
    print('----------------------------------------- Data Aquisition Completed For Part: ' + str(i) + ' -----------------------------------------')

df = pd.concat(processed_parts)

----------------------------------------- Processed Genres

KeyboardInterrupt:

In [ ]:
df

477

In [11]:
df.isna().sum()

title                       3
director_name             991
actor_1_name             2427
actor_2_name             3765
actor_3_name             4687
duration                  275
genres                   2442
language                 3975
country                  6298
budget                    492
gross                   46422
year                      195
imdb_score              45538
production_companies    16942
revenue                  5046
dtype: int64

In [ ]:
df.to_csv('data/data_filled.csv', index=False)

In [ ]:
print('Please shut down the computer')

In [56]:
# df_parts[2]['genres'] = df_parts[2].apply(lambda row: Get_data.genre(str(row['title'])) if type(row['genres']) != str else row['genres'], axis=1)
# df_parts[2][df_parts[2]['genres'].isna()]

besotted
the rising place
dischord
stone reader
boys life 4: four play
the making of '...and god spoke'
this so-called disaster: sam shepard directs "the late henry moss"
lightning in a bottle
smiley's people
death of a dynasty

10117       Horror Science Fiction
10118                        Drama
10119       Action Adventure Drama
10120          Drama Music Romance
10121       Drama Comedy Adventure
                   ...
15170    Drama Action Comedy Crime
15171      Action Adventure Comedy
15172           Documentary Family
15173                  Documentary
15174              Horror Thriller
Length: 5058, dtype: object

In [9]:
# df['title'].map(lambda x: Get_data.genre(str(x)) if type(x) != str else ...)
# def get_genre(row):
#     if type(row['genres']) != str:
#         return Get_data.genre(str(row['title']))
# df['genres'] = df.apply(get_genre, axis=1)
df['genres'] = df.apply(lambda row: Get_data.genre(str(row['title'])) if type(row['genres']) != str else row['genres'], axis=1)

In [10]:
df['genres'].isna().sum()

48616

In [9]:
# df['production_companies'] = df['title'].map(lambda x: Get_data.production_companies(str(x)) if type(x) != str else ...)
df['production_companies'] = df.apply(lambda row: Get_data.production_companies(str(row['title'])) if type(row['production_companies']) != str else row['production_companies'], axis=1)

KeyboardInterrupt:

In [ ]:
df['production_companies'].isna().sum()

16942

In [ ]:
# df['country'] = df['title'].map(lambda x: Get_data.country(str(x)) if type(x) != str else ...)
df['country'] = df.apply(lambda row: Get_data.country(str(row['title'])) if type(row['country']) != str else row['country'], axis=1)

In [ ]:
df['country'].isna().sum()

0

In [ ]:
# df['language'] = df['title'].map(lambda x: Get_data.language(str(x)) if type(x) != str else ...)
df['language'] = df.apply(lambda row: Get_data.language(str(row['title'])) if type(row['language']) != str else row['language'], axis=1)

In [ ]:
df['language'].isna().sum()

0

In [ ]:
# df['year'] = df['title'].map(lambda x: Get_data.year(str(x)) if type(x) != str else ...)
df['year'] = df.apply(lambda row: Get_data.year(str(row['title'])) if type(row['year']) != str else row['year'], axis=1)

In [ ]:
df['year'].isna().sum()

0

In [ ]:
# df['budget'] = df['title'].map(lambda x: Get_data.budget(str(x)) if type(x) != str else ...)
df['budget'] = df.apply(lambda row: Get_data.budget(str(row['title'])) if type(row['budget']) != str else row['budget'], axis=1)

In [ ]:
df['budget'].isna().sum()

0

In [ ]:
# df['revenue'] = df['title'].map(lambda x: Get_data.revenue(str(x)) if type(x) != str else ...)
df['revenue'] = df.apply(lambda row: Get_data.revenue(str(row['title'])) if type(row['revenue']) != str else row['revenue'], axis=1)

In [ ]:
df['revenue'].isna().sum()

3

In [ ]:
# df['duration'] = df['title'].map(lambda x: Get_data.duration(str(x)) if type(x) != str else ...)
df['duration'] = df.apply(lambda row: Get_data.duration(str(row['title'])) if type(row['duration']) != str else row['duration'], axis=1)

In [ ]:
df['duration'].isna().sum()

0

In [ ]:
df.isna().sum()

title                       3
director_name             991
actor_1_name             2427
actor_2_name             3765
actor_3_name             4687
duration                    0
genres                      0
language                    0
country                     0
budget                      0
gross                   46422
year                        0
imdb_score              45538
production_companies        0
revenue                     3
dtype: int64

In [ ]:
df[df['revenue'].isna()]

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
24844,NaN,Lawrence Gordon Clark,Rob Lowe,Kenneth Cranham,Deborah Moore,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None
34627,NaN,Susumu Kudo,Megumi Hayashibara,Hiroki Touchi,Kazuya Nakai,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None
40710,NaN,Scott Wheeler,Alexander Mendeluk,Kate Nauta,Benjamin Easterday,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None

In [ ]:
# df['director_name'] = df['title'].map(lambda x: Get_data.director_name(str(x)) if type(x) != str else ...)
df['director_name'] = df.apply(lambda row: Get_data.director_name(str(row['title'])) if type(row['director_name']) != str else row['director_name'], axis=1)

In [ ]:
# df['actor_1_name'] = df['title'].map(lambda x: Get_data.actor_1_name(str(x)) if type(x) != str else ...)
df['actor_1_name'] = df.apply(lambda row: Get_data.actor_1_name(str(row['title'])) if type(row['actor_1_name']) != str else row['actor_1_name'], axis=1)

In [ ]:
# df['actor_2_name'] = df['title'].map(lambda x: Get_data.actor_2_name(str(x)) if type(x) != str else ...)
df['actor_2_name'] = df.apply(lambda row: Get_data.actor_2_name(str(row['title'])) if type(row['actor_2_name']) != str else row['actor_2_name'], axis=1)

In [ ]:
# df['actor_3_name'] = df['title'].map(lambda x: Get_data.actor_3_name(str(x)) if type(x) != str else ...)
df['actor_3_name'] = df.apply(lambda row: Get_data.actor_3_name(str(row['title'])) if type(row['actor_3_name']) != str else row['actor_3_name'], axis=1)

In [ ]:
df.isna().sum()

title                       3
director_name               0
actor_1_name                0
actor_2_name                0
actor_3_name                0
duration                    0
genres                      0
language                    0
country                     0
budget                      0
gross                   46422
year                        0
imdb_score              45538
production_companies        0
revenue                     3
dtype: int64

In [ ]:
df[df['title'].isna()]

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
24844,NaN,Sahim Omar Kalifa,Kehreman macid,Leila laraaj,Rikkert Van Dijck,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None
34627,NaN,Sahim Omar Kalifa,Kehreman macid,Leila laraaj,Rikkert Van Dijck,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None
40710,NaN,Sahim Omar Kalifa,Kehreman macid,Leila laraaj,Rikkert Van Dijck,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None

In [ ]:
df.dropna(subset=['title'], inplace=True)

In [ ]:
df.isna().sum()

title                       0
director_name               0
actor_1_name                0
actor_2_name                0
actor_3_name                0
duration                    0
genres                      0
language                    0
country                     0
budget                      0
gross                   46419
year                        0
imdb_score              45535
production_companies        0
revenue                     0
dtype: int64

In [ ]:
df.drop(columns=['gross'], inplace=True)

In [ ]:
df.isna().sum()

title                       0
director_name               0
actor_1_name                0
actor_2_name                0
actor_3_name                0
duration                    0
genres                      0
language                    0
country                     0
budget                      0
year                        0
imdb_score              45535
production_companies        0
revenue                     0
dtype: int64

In [ ]:
df

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,year,imdb_score,production_companies,revenue
0,avatar,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,7.9,Ellipsis,Ellipsis
1,pirates of the caribbean: at world's end,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,7.1,Ellipsis,Ellipsis
2,spectre,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,6.8,Ellipsis,Ellipsis
3,the dark knight rises,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,8.5,Ellipsis,Ellipsis
4,star wars: episode vii - the force awakens ...,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,7.1,Ellipsis,Ellipsis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50576,subdue,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,NaN,Ellipsis,Ellipsis
50577,century of birthing,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,NaN,Ellipsis,Ellipsis
50578,betrayal,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,NaN,Ellipsis,Ellipsis
50579,satan triumphant,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,NaN,Ellipsis,Ellipsis
50580,queerama,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,Ellipsis,NaN,Ellipsis,Ellipsis

In [ ]:
df.to_csv('data/data.csv', index=False)