In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/data_filled.csv')

In [3]:
df_parts = np.array_split(df, 15)

In [4]:
len(df)

50581

In [5]:
len(df_parts[0])

3373

In [3]:
df

,title,director_name,production_companies,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,revenue,year,imdb_score
0,avatar,James Cameron,Dune Entertainment Lightstorm Entertainment 20...,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,English,United States of America,237000000.0,760505847.0,2.923706e+09,2009.0,7.9
1,pirates of the caribbean: at world's end,Gore Verbinski,Jerry Bruckheimer Films Second Mate Production...,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,English,United States of America,300000000.0,309404152.0,9.610000e+08,2007.0,7.1
2,spectre,Sam Mendes,Metro-Goldwyn-Mayer Columbia Pictures EON Prod...,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,English,United Kingdom,245000000.0,200074175.0,8.806746e+08,2015.0,6.8
3,the dark knight rises,Christopher Nolan,Syncopy Legendary Pictures DC Entertainment Wa...,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,English,United States of America,250000000.0,448130642.0,1.081041e+09,2012.0,8.5
4,star wars: episode vii - the force awakens ...,Doug Walker,Lucasfilm Ltd. Bad Robot,Doug Walker,Rob Walker,Carrie Fisher,136.0,Documentary,English,United States of America,245000000.0,NaN,2.068224e+09,2015.0,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50576,subdue,Hamid Nematollah,NaN,Leila Hatami,Kourosh Tahami,Elham Korda,90.0,Drama Family,فارسی,Iran,0.0,NaN,0.000000e+00,1971.0,NaN
50577,century of birthing,Lav Diaz,Sine Olivia,Angel Aquino,Perry Dizon,Hazel Orencio,360.0,Drama,NaN,Philippines,0.0,NaN,0.000000e+00,2011.0,NaN
50578,betrayal,Mark L. Lester,American World Pictures,Erika Eleniak,Adam Baldwin,Julie du Page,90.0,Action Drama Thriller,English,United States of America,0.0,NaN,0.000000e+00,2003.0,NaN
50579,satan triumphant,Yakov Protazanov,Yermoliev,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,87.0,Drama,No Language,Russia,0.0,NaN,0.000000e+00,1917.0,NaN
50580,queerama,Daisy Asquith,ie ie productions,NaN,NaN,NaN,75.0,Music Documentary,English,United Kingdom,0.0,NaN,0.000000e+00,2017.0,NaN

In [7]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (1.9.0)
Requirement already satisfied: requests in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from tmdbv3api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/user/anaconda3/envs/ml/lib/python3.11/site-packages (from requests->tmdbv3api) (2023.11.17)

In [25]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '07cc151730daa91e60bd8a7ad5ca9986'

In [26]:
from tmdbv3api import Movie
tmdb_movie = Movie()
class Get_data:
    
    def genre(x):
        genres = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['genres']:
            genre_str = " "
            for i in range(0,len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            return np.NaN

    def production_companies(x):
        production_companies = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['production_companies']:
            genre_str = " " 
            for i in range(0,len(data_json['production_companies'])):
                production_companies.append(data_json['production_companies'][i]['name'])
            return genre_str.join(production_companies)
        else:
            return np.NaN

    def country(x):
        production_countries = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['production_countries']:
            genre_str = " " 
            for i in range(0,len(data_json['production_countries'])):
                production_countries.append(data_json['production_countries'][i]['name'])
            return genre_str.join(production_countries)
        else:
            return np.NaN
    
    def language(x):
        spoken_languages = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['spoken_languages']:
            genre_str = " " 
            for i in range(0,len(data_json['spoken_languages'])):
                spoken_languages.append(data_json['spoken_languages'][i]['name'])
            return genre_str.join(spoken_languages)
        else:
            return np.NaN

    def year(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['release_date']:
            return int(data_json['release_date'].split('-')[0])
        else:
            return np.NaN

    def budget(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['budget']:
            return data_json['budget']
        else:
            return np.NaN

    def revenue(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['revenue']:
            return data_json['revenue']
        else:
            return np.NaN

    def duration(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['runtime']:
            return data_json['runtime']
        else:
            return np.NaN

    def director_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['crew']:
            if data_json['crew']:
                for i in range(0, len(data_json['crew'])):
                    if data_json['crew'][i]['job'] == 'Director':
                        return data_json['crew'][i]['name']
        else:
            return np.NaN
        
    def actor_1_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['cast']:
            return data_json['cast'][0]['name']
        else:
            return np.NaN

    def actor_2_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['cast'] and len(data_json['cast']) > 2:
            return data_json['cast'][1]['name']
        else:
            return np.NaN

    def actor_3_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['cast'] and len(data_json['cast']) > 3:
            return data_json['cast'][2]['name']
        else:
            return np.NaN

In [9]:
len(df_parts)

15

In [ ]:
processed_parts = []

for i in range(len(df_parts)):
    df_parts[i]['genres'] = df_parts[i].apply(lambda row: Get_data.genre(str(row['title'])) if type(row['genres']) != str else row['genres'], axis=1)
    print('----------------------------------------- Processed Genres')
    df_parts[i]['production_companies'] = df_parts[i].apply(lambda row: Get_data.production_companies(str(row['title'])) if type(row['production_companies']) != str else row['production_companies'], axis=1)
    print('----------------------------------------- Precessed Production Companies')
    df_parts[i]['country'] = df_parts[i].apply(lambda row: Get_data.country(str(row['title'])) if type(row['country']) != str else row['country'], axis=1)
    print('----------------------------------------- Processed Country')
    df_parts[i]['language'] = df_parts[i].apply(lambda row: Get_data.language(str(row['title'])) if type(row['language']) != str else row['language'], axis=1)
    print('----------------------------------------- Processed Language')
    df_parts[i]['year'] = df_parts[i].apply(lambda row: Get_data.year(str(row['title'])) if type(row['year']) != str else row['year'], axis=1)
    print('----------------------------------------- Processed Year')
    df_parts[i]['budget'] = df_parts[i].apply(lambda row: Get_data.budget(str(row['title'])) if type(row['budget']) != str else row['budget'], axis=1)
    print('----------------------------------------- Processed Budget')
    df_parts[i]['revenue'] = df_parts[i].apply(lambda row: Get_data.revenue(str(row['title'])) if type(row['revenue']) != str else row['revenue'], axis=1)
    print('----------------------------------------- Processed Revenue')
    df_parts[i]['duration'] = df_parts[i].apply(lambda row: Get_data.duration(str(row['title'])) if type(row['duration']) != str else row['duration'], axis=1)
    print('----------------------------------------- Processed Duration')
    df_parts[i]['director_name'] = df_parts[i].apply(lambda row: Get_data.director_name(str(row['title'])) if type(row['director_name']) != str else row['director_name'], axis=1)
    print('----------------------------------------- Processed Director Name')
    df_parts[i]['actor_1_name'] = df_parts[i].apply(lambda row: Get_data.actor_1_name(str(row['title'])) if type(row['actor_1_name']) != str else row['actor_1_name'], axis=1)
    print('----------------------------------------- Processed Actor 1 Name')
    df_parts[i]['actor_2_name'] = df_parts[i].apply(lambda row: Get_data.actor_2_name(str(row['title'])) if type(row['actor_2_name']) != str else row['actor_2_name'], axis=1)
    print('----------------------------------------- Processed Actor 2 Name')
    df_parts[i]['actor_3_name'] = df_parts[i].apply(lambda row: Get_data.actor_3_name(str(row['title'])) if type(row['actor_3_name']) != str else row['actor_3_name'], axis=1)
    print('----------------------------------------- Processed Actor 3 Name')
    
    processed_parts.append(df_parts[i])
    print('----------------------------------------- Data Aquisition Completed For Part: ' + str(i) + ' -----------------------------------------')

df = pd.concat(processed_parts)

In [10]:
df.isna().sum()

Unnamed: 0.1                0
Unnamed: 0                  0
title                       3
director_name             162
actor_1_name             1091
actor_2_name             2293
actor_3_name             2841
duration                   72
genres                    476
language                 1227
country                  2050
budget                    274
gross                   46422
year                       30
imdb_score              45538
production_companies    16942
revenue                   982
dtype: int64

In [ ]:
df['director_name'] = df['director_name'].replace(np.nan, Get_data.director_name())

In [22]:
df.to_csv('data/data_filled.csv', index=False)

In [ ]:
print('Please shut down the computer')

In [19]:
# Genres
# Director Name
# Language
# Actor 1 Name
# Actor 2 Name
# Actor 3 Name
# Country
# Year
# Duration
# Budget
# Revenue
# Production Companies

In [11]:
# processed_parts = []

for i in range(14,len(df_parts)):
    df_parts[i]['production_companies'] = df_parts[i].apply(lambda row: Get_data.production_companies(str(row['title'])) if pd.isna(row['production_companies']) else row['production_companies'], axis=1)
    print('----------------------------------------- Precessed Production Companies')
    # df_parts[i]['country'] = df_parts[i].apply(lambda row: Get_data.country(str(row['title'])) if type(row['country']) != str else row['country'], axis=1)
    # print('----------------------------------------- Processed Country')

    # processed_parts.append(df_parts[i])
    print('----------------------------------------- Data Aquisition Completed For Part: ' + str(i) + ' -----------------------------------------')
    df_parts[i].to_csv(f'data/data_filled_{i}.csv', index=False)
    print('----------------------------------------- Saved Part: ' + str(i) + ' -----------------------------------------')

# df = pd.concat(processed_parts)

----------------------------------------- Precessed Production Companies
----------------------------------------- Data Aquisition Completed For Part: 14 -----------------------------------------
----------------------------------------- Saved Part: 14 -----------------------------------------

In [12]:
csv_files = ['data/data_filled_0.csv',
 'data/data_filled_1.csv',
 'data/data_filled_2.csv',
 'data/data_filled_3.csv',
 'data/data_filled_4.csv',
 'data/data_filled_5.csv',
 'data/data_filled_6.csv',
 'data/data_filled_7.csv',
 'data/data_filled_8.csv',
 'data/data_filled_9.csv',
 'data/data_filled_10.csv',
 'data/data_filled_11.csv',
 'data/data_filled_12.csv',
 'data/data_filled_13.csv',
 'data/data_filled_14.csv',]

combined_df = pd.DataFrame()
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    combined_df = pd.concat([combined_df, df])

In [13]:
combined_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'title', 'director_name', 'actor_1_name',
       'actor_2_name', 'actor_3_name', 'duration', 'genres', 'language',
       'country', 'budget', 'gross', 'year', 'imdb_score',
       'production_companies', 'revenue'],
      dtype='object')

In [14]:
combined_df = combined_df.loc[:, ['title', 'director_name', 'production_companies', 'actor_1_name',
       'actor_2_name', 'actor_3_name', 'duration', 'genres', 'language',
       'country', 'budget', 'gross', 'revenue', 'year', 'imdb_score']]

In [16]:
combined_df.to_csv('data/data_filled.csv', index=False)

In [15]:
combined_df.isna().sum()

title                       3
director_name             162
production_companies     4965
actor_1_name             1091
actor_2_name             2293
actor_3_name             2841
duration                   72
genres                    476
language                 1227
country                  2050
budget                    274
gross                   46422
revenue                   982
year                       30
imdb_score              45538
dtype: int64

In [10]:
# df['title'].map(lambda x: Get_data.genre(str(x)) if type(x) != str else ...)
# def get_genre(row):
#     if type(row['genres']) != str:
#         return Get_data.genre(str(row['title']))
# df['genres'] = df.apply(get_genre, axis=1)
df['genres'] = df.apply(lambda row: Get_data.genre(str(row['title'])) if pd.isna(row['genres']) else row['genres'], axis=1)

In [8]:
df['genres'].isna().sum()

2442

In [ ]:
# df['production_companies'] = df['title'].map(lambda x: Get_data.production_companies(str(x)) if type(x) != str else ...)
df['production_companies'] = df.apply(lambda row: Get_data.production_companies(str(row['title'])) if type(row['production_companies']) != str else row['production_companies'], axis=1)

In [ ]:
df['production_companies'].isna().sum()

16942

In [ ]:
# df['country'] = df['title'].map(lambda x: Get_data.country(str(x)) if type(x) != str else ...)
df['country'] = df.apply(lambda row: Get_data.country(str(row['title'])) if pd.isna(row['country']) else row['country'], axis=1)

In [ ]:
df['country'].isna().sum()

0

In [15]:
# df['language'] = df['title'].map(lambda x: Get_data.language(str(x)) if type(x) != str else ...)
df['language'] = df.apply(lambda row: Get_data.language(str(row['title'])) if pd.isna(row['language']) else row['language'], axis=1)

In [ ]:
df['language'].isna().sum()

0

In [7]:
# df['year'] = df['title'].map(lambda x: Get_data.year(str(x)) if type(x) != str else ...)
df['year'] = df.apply(lambda row: Get_data.year(str(row['title'])) if pd.isna(row['year']) else row['year'], axis=1)

In [ ]:
df['year'].isna().sum()

0

In [14]:
# df['budget'] = df['title'].map(lambda x: Get_data.budget(str(x)) if type(x) != str else ...)
df['budget'] = df.apply(lambda row: Get_data.budget(str(row['title'])) if pd.isna(row['budget']) else row['budget'], axis=1)

In [ ]:
df['budget'].isna().sum()

0

In [20]:
# df['revenue'] = df['title'].map(lambda x: Get_data.revenue(str(x)) if type(x) != str else ...)
df['revenue'] = df.apply(lambda row: Get_data.revenue(str(row['title'])) if pd.isna(row['revenue']) else row['revenue'], axis=1)

In [19]:
df['revenue'].isna().sum()

5046

In [10]:
# df['duration'] = df['title'].map(lambda x: Get_data.duration(str(x)) if type(x) != str else ...)
df['duration'] = df.apply(lambda row: Get_data.duration(str(row['title'])) if pd.isna(row['duration']) else row['duration'], axis=1)

In [ ]:
df['duration'].isna().sum()

0

In [9]:
# df['director_name'] = df['title'].map(lambda x: Get_data.director_name(str(x)) if type(x) != str else ...)
df['director_name'] = df.apply(lambda row: Get_data.director_name(str(row['title'])) if pd.isna(row['director_name']) else row['director_name'], axis=1)

In [22]:
# df['actor_1_name'] = df['title'].map(lambda x: Get_data.actor_1_name(str(x)) if type(x) != str else ...)
df['actor_1_name'] = df.apply(lambda row: Get_data.actor_1_name(str(row['title'])) if pd.isna(row['actor_1_name']) else row['actor_1_name'], axis=1)

In [26]:
# df['actor_2_name'] = df['title'].map(lambda x: Get_data.actor_2_name(str(x)) if type(x) != str else ...)
df['actor_2_name'] = df.apply(lambda row: Get_data.actor_2_name(str(row['title'])) if pd.isna(row['actor_2_name']) else row['actor_2_name'], axis=1)

In [7]:
# df['actor_3_name'] = df['title'].map(lambda x: Get_data.actor_3_name(str(x)) if type(x) != str else ...)
df['actor_3_name'] = df.apply(lambda row: Get_data.actor_3_name(str(row['title'])) if pd.isna(row['actor_3_name']) else row['actor_3_name'], axis=1)

In [7]:
df.isna().sum()

title                       3
director_name             162
production_companies     4965
actor_1_name             1091
actor_2_name             2293
actor_3_name             2841
duration                   72
genres                    476
language                 1227
country                  2050
budget                    274
gross                   46422
revenue                   982
year                       30
imdb_score              45538
dtype: int64

In [ ]:
df[df['title'].isna()]

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
24844,NaN,Sahim Omar Kalifa,Kehreman macid,Leila laraaj,Rikkert Van Dijck,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None
34627,NaN,Sahim Omar Kalifa,Kehreman macid,Leila laraaj,Rikkert Van Dijck,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None
40710,NaN,Sahim Omar Kalifa,Kehreman macid,Leila laraaj,Rikkert Van Dijck,30,Drama Crime,Nederlands,Belgium Iraq,10000,NaN,2008,NaN,Hogeschool Sint-Lukas Brussel,None

In [ ]:
df.dropna(subset=['title'], inplace=True)

In [ ]:
df.drop(columns=['gross'], inplace=True)

In [ ]:
df.to_csv('data/data.csv', index=False)

In [3]:
df_old = pd.read_csv('data/data.csv')
df_old.isna().sum()

title                       3
director_name             991
actor_1_name             2427
actor_2_name             3765
actor_3_name             4687
duration                  275
genres                   2442
language                 3975
country                  6298
budget                    492
gross                   46422
year                      195
imdb_score              45538
production_companies    16942
revenue                  5046
dtype: int64

In [4]:
df.columns

Index(['title', 'director_name', 'production_companies', 'actor_1_name',
       'actor_2_name', 'actor_3_name', 'duration', 'genres', 'language',
       'country', 'budget', 'gross', 'revenue', 'year', 'imdb_score'],
      dtype='object')

In [5]:
df_old.columns

Index(['title', 'director_name', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'duration', 'genres', 'language', 'country', 'budget',
       'gross', 'year', 'imdb_score', 'production_companies', 'revenue'],
      dtype='object')

In [18]:
df_mod = df.loc[:, ['title', 'production_companies', 'actor_1_name',
       'actor_2_name', 'actor_3_name', 'duration', 'genres', 'language',
       'country', 'budget', 'revenue', 'year']].join(df_old['director_name'])

In [21]:
df_mod = df_mod.loc[:, ['title', 'director_name', 'production_companies', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'duration', 'genres', 'language', 'country', 'budget',
       'revenue', 'year']]

In [22]:
df_mod.columns

Index(['title', 'director_name', 'production_companies', 'actor_1_name',
       'actor_2_name', 'actor_3_name', 'duration', 'genres', 'language',
       'country', 'budget', 'revenue', 'year'],
      dtype='object')

In [23]:
df_mod.isna().sum()

title                      3
director_name            991
production_companies    4965
actor_1_name            1091
actor_2_name            2293
actor_3_name            2841
duration                  72
genres                   476
language                1227
country                 2050
budget                   274
revenue                  982
year                      30
dtype: int64

In [24]:
df_mod

,title,director_name,production_companies,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,revenue,year
0,avatar,James Cameron,Dune Entertainment Lightstorm Entertainment 20...,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,English,United States of America,237000000.0,2.923706e+09,2009.0
1,pirates of the caribbean: at world's end,Gore Verbinski,Jerry Bruckheimer Films Second Mate Production...,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,English,United States of America,300000000.0,9.610000e+08,2007.0
2,spectre,Sam Mendes,Metro-Goldwyn-Mayer Columbia Pictures EON Prod...,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,English,United Kingdom,245000000.0,8.806746e+08,2015.0
3,the dark knight rises,Christopher Nolan,Syncopy Legendary Pictures DC Entertainment Wa...,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,English,United States of America,250000000.0,1.081041e+09,2012.0
4,star wars: episode vii - the force awakens ...,Doug Walker,Lucasfilm Ltd. Bad Robot,Doug Walker,Rob Walker,Carrie Fisher,136.0,Documentary,English,United States of America,245000000.0,2.068224e+09,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50576,subdue,Hamid Nematollah,NaN,Leila Hatami,Kourosh Tahami,Elham Korda,90.0,Drama Family,فارسی,Iran,0.0,0.000000e+00,1971.0
50577,century of birthing,Lav Diaz,Sine Olivia,Angel Aquino,Perry Dizon,Hazel Orencio,360.0,Drama,NaN,Philippines,0.0,0.000000e+00,2011.0
50578,betrayal,Mark L. Lester,American World Pictures,Erika Eleniak,Adam Baldwin,Julie du Page,90.0,Action Drama Thriller,English,United States of America,0.0,0.000000e+00,2003.0
50579,satan triumphant,Yakov Protazanov,Yermoliev,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,87.0,Drama,No Language,Russia,0.0,0.000000e+00,1917.0
50580,queerama,Daisy Asquith,ie ie productions,NaN,NaN,NaN,75.0,Music Documentary,English,United Kingdom,0.0,0.000000e+00,2017.0

In [27]:
df_mod['director_name'] = df_mod.apply(lambda row: Get_data.director_name(str(row['title'])) if pd.isna(row['director_name']) else row['director_name'], axis=1)

In [28]:
df_mod.isna().sum()

title                      3
director_name            212
production_companies    4965
actor_1_name            1091
actor_2_name            2293
actor_3_name            2841
duration                  72
genres                   476
language                1227
country                 2050
budget                   274
revenue                  982
year                      30
dtype: int64

In [29]:
df_mod.to_csv('data/data_filled.csv', index=False)