In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/data_filled.csv')

In [3]:
df

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
0,avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,English,United States of America,237000000.0,760505847.0,2009.0,7.9,NaN,NaN
1,pirates of the caribbean: at world's end,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,English,United States of America,300000000.0,309404152.0,2007.0,7.1,NaN,NaN
2,spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,English,United Kingdom,245000000.0,200074175.0,2015.0,6.8,NaN,NaN
3,the dark knight rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,English,United States of America,250000000.0,448130642.0,2012.0,8.5,NaN,NaN
4,star wars: episode vii - the force awakens ...,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50576,subdue,Hamid Nematollah,Leila Hatami,Kourosh Tahami,Elham Korda,90.0,Drama Family,فارسی,Iran,0.0,NaN,NaN,NaN,NaN,0.0
50577,century of birthing,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,360.0,Drama,NaN,Philippines,0.0,NaN,2011.0,NaN,Sine Olivia,0.0
50578,betrayal,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,90.0,Action Drama Thriller,English,United States of America,0.0,NaN,2003.0,NaN,American World Pictures,0.0
50579,satan triumphant,Yakov Protazanov,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,87.0,Drama,NaN,Russia,0.0,NaN,1917.0,NaN,Yermoliev,0.0
50580,queerama,Daisy Asquith,NaN,NaN,NaN,75.0,Music Documentary,English,United Kingdom,0.0,NaN,2017.0,NaN,NaN,0.0

In [9]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '07cc151730daa91e60bd8a7ad5ca9986'

In [65]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def duration(x):
        result = tmdb_movie.search(x)
        print(result)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        print(data_json)
        if data_json['runtime']:
            return data_json['runtime']
        else:
            return np.NaN
        

def year(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['release_date']:
            return int(data_json['release_date'].split('-')[0])
        else:
            return np.NaN
        
def budget(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['budget']:
            print(data_json['budget'])
        else:
             print('zero')
        if data_json['budget']:
            return data_json['budget']
        else:
            return np.NaN

def revenue(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['revenue']:
            return data_json['revenue']
        else:
            return np.NaN

def country(x):
        production_countries = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['production_countries']:
            genre_str = " " 
            for i in range(0,len(data_json['production_countries'])):
                production_countries.append(data_json['production_countries'][i]['name'])
            return genre_str.join(production_countries)
        else:
            return np.NaN
     
def director_name(x):
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['crew']:
            for i in range(0, len(data_json['crew'])):
                if data_json['crew'][i]['job'] == 'Director':
                    return data_json['crew'][i]['name']
        else:
            return np.NaN

def production_companies(x):
        production_companies = []
        result = tmdb_movie.search(x)
        if not result.results:
            return np.NaN
        movie_id = result[0].id
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        data_json = response.json()
        if data_json['production_companies']:
            genre_str = " " 
            for i in range(0,len(data_json['production_companies'])):
                production_companies.append(data_json['production_companies'][i]['name'])
            return genre_str.join(production_companies)
        else:
            return np.NaN

In [66]:
production_companies('avatar')

'Dune Entertainment Lightstorm Entertainment 20th Century Fox Ingenious Media'

In [4]:
link_18_us = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
link_19_us = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2019'
link_20_us = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
link_21_us = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
link_22_us = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"
link_23_us = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"

df18_us_p1 = pd.read_html(link_18_us, header=0)[2]
df18_us_p2 = pd.read_html(link_18_us, header=0)[3]
df18_us_p3 = pd.read_html(link_18_us, header=0)[4]
df18_us_p4 = pd.read_html(link_18_us, header=0)[5]

df19_us_p1 = pd.read_html(link_19_us, header=0)[2]
df19_us_p2 = pd.read_html(link_19_us, header=0)[3]
df19_us_p3 = pd.read_html(link_19_us, header=0)[4]
df19_us_p4 = pd.read_html(link_19_us, header=0)[5]

df20_us_p1 = pd.read_html(link_20_us, header=0)[2]
df20_us_p2 = pd.read_html(link_20_us, header=0)[3]
df20_us_p3 = pd.read_html(link_20_us, header=0)[4]
df20_us_p4 = pd.read_html(link_20_us, header=0)[5]

df21_us_p1 = pd.read_html(link_21_us, header=0)[2]
df21_us_p2 = pd.read_html(link_21_us, header=0)[3]
df21_us_p3 = pd.read_html(link_21_us, header=0)[4]
df21_us_p4 = pd.read_html(link_21_us, header=0)[5]

df22_us_p1 = pd.read_html(link_22_us, header=0)[2]
df22_us_p2 = pd.read_html(link_22_us, header=0)[3]
df22_us_p3 = pd.read_html(link_22_us, header=0)[4]
df22_us_p4 = pd.read_html(link_22_us, header=0)[5]

df23_us_p1 = pd.read_html(link_23_us, header=0)[2]
df23_us_p2 = pd.read_html(link_23_us, header=0)[3]
df23_us_p3 = pd.read_html(link_23_us, header=0)[4]
df23_us_p4 = pd.read_html(link_23_us, header=0)[5]

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
0,avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,English,United States of America,237000000.0,760505847.0,2009.0,7.9,NaN,NaN
1,pirates of the caribbean: at world's end,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,English,United States of America,300000000.0,309404152.0,2007.0,7.1,NaN,NaN
2,spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,English,United Kingdom,245000000.0,200074175.0,2015.0,6.8,NaN,NaN
3,the dark knight rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,English,United States of America,250000000.0,448130642.0,2012.0,8.5,NaN,NaN
4,star wars: episode vii - the force awakens ...,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN

In [ ]:
df = pd.concat([
    df18_us_p1, df18_us_p2, df18_us_p3, df18_us_p4,
    df19_us_p1, df19_us_p2, df19_us_p3, df19_us_p4,
    df20_us_p1, df20_us_p2, df20_us_p3, df20_us_p4,
    df21_us_p1, df21_us_p2, df21_us_p3, df21_us_p4,
    df22_us_p1, df22_us_p2, df22_us_p3, df22_us_p4,
    df23_us_p1, df23_us_p2, df23_us_p3, df23_us_p4], ignore_index=True)

In [19]:
pd.isna(df['year'][0])

False