In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/data.csv')

In [3]:
df

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
0,avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,English,United States of America,237000000.0,760505847.0,2009.0,7.9,NaN,NaN
1,pirates of the caribbean: at world's end,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,English,United States of America,300000000.0,309404152.0,2007.0,7.1,NaN,NaN
2,spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,English,United Kingdom,245000000.0,200074175.0,2015.0,6.8,NaN,NaN
3,the dark knight rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,English,United States of America,250000000.0,448130642.0,2012.0,8.5,NaN,NaN
4,star wars: episode vii - the force awakens ...,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50576,subdue,Hamid Nematollah,Leila Hatami,Kourosh Tahami,Elham Korda,90.0,Drama Family,فارسی,Iran,0.0,NaN,NaN,NaN,NaN,0.0
50577,century of birthing,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,360.0,Drama,NaN,Philippines,0.0,NaN,2011.0,NaN,Sine Olivia,0.0
50578,betrayal,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,90.0,Action Drama Thriller,English,United States of America,0.0,NaN,2003.0,NaN,American World Pictures,0.0
50579,satan triumphant,Yakov Protazanov,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,87.0,NaN,NaN,Russia,0.0,NaN,1917.0,NaN,Yermoliev,0.0
50580,queerama,Daisy Asquith,NaN,NaN,NaN,75.0,NaN,English,United Kingdom,0.0,NaN,2017.0,NaN,NaN,0.0

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,language,country,budget,gross,year,imdb_score,production_companies,revenue
0,avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,English,United States of America,237000000.0,760505847.0,2009.0,7.9,NaN,NaN
1,pirates of the caribbean: at world's end,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,English,United States of America,300000000.0,309404152.0,2007.0,7.1,NaN,NaN
2,spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,English,United Kingdom,245000000.0,200074175.0,2015.0,6.8,NaN,NaN
3,the dark knight rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,English,United States of America,250000000.0,448130642.0,2012.0,8.5,NaN,NaN
4,star wars: episode vii - the force awakens ...,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN